# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Pandas Parte I - Exercícios</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

#### <font color="red">Recomenda-se fortemente que os exercícios sejam feitos sem consultar as respostas antecipadamente.</font>

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">WorldCups.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">WorldCups.csv</font> possui as seguintes colunas:
- **Year**: ano da copa
- **Country**: país sede
- **Winner**: campeão
- **RunnersUp**: disputou a final com o campeão
- **Third**: terceiro colocado
- **Fourth**: quarto colocado
- **GoalsScored**: número de gols na copa
- **QualifiedTeams**: número de times que disputaram a copa
- **MatchesPlayed**: número de jogos
- **Attendance**: número de espectadores (público)

In [1]:
import numpy as np
import pandas as pd

### Exercício 1) 
Utilizando o <font color='blue'>pandas</font>, leia o arquivo <font style="font-family: monaco">WorldCups.csv</font>, definindo a coluna 'Year' como índice das linhas, e armazene-o em uma variável tipo DataFrame. 
- Exiba as 5 primeiras linhas do DataFrame
- Exiba o tipo de dado de cada coluna
- Imprima o número de linhas do DataFrame

In [4]:
# SOLUÇÃO
df = pd.read_csv("WorldCups.csv", index_col="Year")

In [6]:
df.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607

In [9]:
# tipo de dado de cada coluna
df.dtypes

Country           object
Winner            object
RunnersUp         object
Third             object
Fourth            object
GoalsScored        int64
QualifiedTeams     int64
MatchesPlayed      int64
Attendance         int64
dtype: object

In [10]:
# numero de linhas
print("Números de linhas: ", df.shape[0])

Números de linhas:  20

### Exercício 2) 
Remova as colunas 'QualifiedTeams' e 'MatchesPlayed' do DataFrame.

In [11]:
# SOLUÇÃO
df_del = df.drop(['QualifiedTeams', 'MatchesPlayed'], axis=1)
df_del.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,768607

### Exercício 3) 
Exiba os países sede da copa entre os anos 1954 e 1982 (inclusive)

In [15]:
# SOLUÇÃO
df_sede = df.loc['1954':'1982']
df_sede

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753
1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723

### Exercício 4) 
Encontre e imprima:
- os anos em que o Brasil ganhou a copa 
- os anos em que o Brasil jogou uma final (a final é dada pelas colunas 'Winner' e 'RunnersUp') 
- a proporção de vitórias do Brasil em finais

In [29]:
# SOLUÇÃO
df_brasil_campeao = df.loc[df['Winner'] == 'Brazil']
df_brasil_campeao

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197

In [30]:
# SOLUÇÃO
df_brasil_final = df.loc[(df['Winner'] == 'Brazil') | (df['RunnersUp'] == 'Brazil')]
df_brasil_final

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197

In [37]:
print('Proporção de vitórias do Brasil em finais: ', df_brasil_campeao.shape[0], ' em ', df_brasil_final.shape[0], ' = ', df_brasil_campeao.shape[0]/df_brasil_final.shape[0])

Proporção de vitórias do Brasil em finais:  5  em  7  =  0.7142857142857143

### Exercício 5) 
Quais foram as 5 copas com mais gols? 

__Dica:__ Ordene o DataFrame

In [39]:
# SOLUÇÃO
df.sort_values('GoalsScored', ascending=False)

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723
2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607
1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215
1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549

### Exercício 6) 
Utilize o método <font color='blue'>value_counts</font> para encontrar o número de vezes que cada país ganhou a copa.

In [77]:
# SOLUÇÃO
s1 = df.value_counts('Winner')

### Exercício 7)
Quais foram as 5 copas com maior público? Imprima apenas o ano, o país e o público.

In [52]:
# solucao
df.sort_values('Attendance', ascending=False)[0:5]

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810
2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100

### Exercício 8)
Construa um dicionário onde as chaves são os países que já participaram de uma final e os valores são o número de vezes que o país participou da final.

In [82]:
# SOLUÇÃO
s1 = df.value_counts('Winner').add(df.value_counts('RunnersUp'), fill_value=0).add(df.value_counts('Third'), fill_value=0).add(df.value_counts('Fourth'), fill_value=0).to_dict()
print(s1)

{'Argentina': 5.0, 'Austria': 2.0, 'Belgium': 1.0, 'Brazil': 11.0, 'Bulgaria': 1.0, 'Chile': 1.0, 'Croatia': 1.0, 'Czechoslovakia': 2.0, 'England': 2.0, 'France': 5.0, 'Germany': 5.0, 'Germany FR': 8.0, 'Hungary': 2.0, 'Italy': 8.0, 'Korea Republic': 1.0, 'Netherlands': 5.0, 'Poland': 2.0, 'Portugal': 2.0, 'Soviet Union': 1.0, 'Spain': 2.0, 'Sweden': 4.0, 'Turkey': 1.0, 'USA': 1.0, 'Uruguay': 5.0, 'Yugoslavia': 2.0}

### Exercício 9) 
Construa um dicionário com todos os países que já participaram de uma semi-final de copa (os quatro finalistas), onde a chave é o país e o valor corresponde ao número de vezes que o país foi um semi-finalista.

In [83]:
# SOLUÇÃO
s1 = df.value_counts('Winner').add(df.value_counts('RunnersUp'), fill_value=0).add(df.value_counts('Third'), fill_value=0).add(df.value_counts('Fourth'), fill_value=0).to_dict()
print(s1)

{'Argentina': 5.0, 'Austria': 2.0, 'Belgium': 1.0, 'Brazil': 11.0, 'Bulgaria': 1.0, 'Chile': 1.0, 'Croatia': 1.0, 'Czechoslovakia': 2.0, 'England': 2.0, 'France': 5.0, 'Germany': 5.0, 'Germany FR': 8.0, 'Hungary': 2.0, 'Italy': 8.0, 'Korea Republic': 1.0, 'Netherlands': 5.0, 'Poland': 2.0, 'Portugal': 2.0, 'Soviet Union': 1.0, 'Spain': 2.0, 'Sweden': 4.0, 'Turkey': 1.0, 'USA': 1.0, 'Uruguay': 5.0, 'Yugoslavia': 2.0}